<div class="row">
  <div class="col-12 col-md-10 mx-auto m-4 pb-4">

    <div class="row todo_list_header">
      <div class="col-12">
        <p class="mb-0" id="notice"><%= notice %></p>
        <h2 class="todo_list_title pt-2"><%= @todo_list.title %></h2>
        <p class="todo_list_sub_title"><%= @todo_list.description %></p>
      </div>
    </div>


    <div class="row">
      <div class="col-12 pl-2 pr-0">
        <div id="todo_items_wrapper">
          <%= render @todo_list.todo_items %>
          <div id="form" class="mx-auto">
            <%= render "todo_items/form" %>
          </div>
        </div>
      </div>
    </div>



    <div class="links">
      <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
      <%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: {confirm: "Are You Sure You Want to Delete Your List?"} %> |
      <%= link_to 'Back', user_path(session[:user_id]) %>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="mb-0 mx-auto" id="notice"><%= notice %></p>
      </div>
    </div>

    </div>
    </div>
