
<div class="user_info_bar">
  <p class="text-capitalize my-2"><i class="fas fa-list"></i> <%=@user.username%>'s <%= pluralize(@user.todo_lists.count, 'List') %> </p>
</div>

  <div class="text-center mt-5">
      <% @user.todo_lists.each do |t| %>
          <div class="index_row clearfix">
            <h2 class="todo_list_title"><%=link_to t.title, todo_list_path(t)%></h2>
            <p class="todo_list_sub_title"><%= t.description %></p>
          </div>
      <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to "<i class='fas fa-plus'></i> New To do List".html_safe, new_todo_list_path, {class: 'btn btn-lg btn-todo btn-login text-uppercase font-weight-bold mb-2'} %>

  </div>
