<!DOCTYPE html>
<html>
  <head>

    <title>To-Dos | ✓</title>
    <meta name="Description" content="A personal to-do list to manage your to-do lists in one easy to use applicatoin">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-toggler-icon static-top px-0 px-sm-3">
      <div class="container-fluid">

        <% if logged_in?  %>
          <%= link_to image_tag("todo_logo_yes_login.svg", :alt => "to-dos' logged in logo", :class => "navbar-logo pl-4 pl-sm-0"), user_path(session[:user_id]), {class: 'navbar-brand'} %>
        <% else %>
          <%= link_to image_tag("todo_logo_no_login.svg", :alt => "to-dos' logged out logo", :class => "navbar-logo pl-4 pl-sm-0"), login_path, {class: 'navbar-brand'} %>
        <% end %>

        <button class="navbar-toggler mr-4 navbar-light" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav bg-white ml-auto">
            <% if logged_in?  %>
              <li class="nav-item nav_icon px-4 px-sm-0">
                <%= link_to current_user.username.capitalize, user_path(session[:user_id]), {class: 'nav-link'} %>
              </li>
              <li class="nav-item px-4 px-sm-0">
                <%= link_to "New List", new_todo_list_path, {class: 'nav-link'} %>
              </li>
              <li class="nav-item px-4 px-sm-0">
                  <%= link_to "Logout", logout_path, {class: 'nav-link', method: 'delete'} %>
              </li>
            <% else %>
              <li class="nav-item">
                  <%= link_to "Sign Up", new_user_path, {class: 'nav-link sign-up'} %>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container-fluid">
        <div class="row no-gutter">
          <% if logged_in?  %>
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <% else %>
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-grey"></div>
          <% end %>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-9 col-lg-12 mx-auto">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </body>
</html>
